.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  //margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-item {
      padding: 0px 15px;
      font-size: larger;
      text-decoration: none;

      &:hover {
        color: darkorange;
      }
    }

    .active {
      color: darkorange;
    }
  }
}
